<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHs8NQBqcYDcuwAQJ-aIO16zg5MUy7E_k</string>
	<key>GCM_SENDER_ID</key>
	<string>296614817955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spartan23r.BoobooBites</string>
	<key>PROJECT_ID</key>
	<string>booboo-bites</string>
	<key>STORAGE_BUCKET</key>
	<string>booboo-bites.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296614817955:ios:6684c891851d58ac750f16</string>
</dict>
</plist>